[build]
  base = "frontend"
  command = "npm install && npm run build"
  publish = "dist"

[build.environment]
  REACT_APP_API_URL = "https://diglearners.onrender.com/api"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

